In [1]:
# load necessary libraries
import pandas as pd
import pprint
import os
# import glob

In [2]:
# import csvs
paris_csv = "/Users/AttiasC16/Desktop/Paris.csv"
bangkok_csv = "/Users/AttiasC16/Desktop/Bangkok.csv"
newyork_csv = "/Users/AttiasC16/Desktop/NewYork.csv"
london_csv = "/Users/AttiasC16/Desktop/London.csv"
hongkong_csv = "/Users/AttiasC16/Desktop/HongKong.csv"
singapore_csv = "/Users/AttiasC16/Desktop/Singapore.csv"
istanbul_csv = "/Users/AttiasC16/Desktop/Istanbul.csv"

In [3]:
# read csv into pandas df
paris_df = pd.read_csv(paris_csv)
bangkok_df = pd.read_csv(bangkok_csv)
newyork_df = pd.read_csv(newyork_csv,index_col=False, dtype='unicode')
london_df = pd.read_csv(london_csv)
hongkong_df = pd.read_csv(hongkong_csv)
singapore_df = pd.read_csv(singapore_csv)
istanbul_df = pd.read_csv(istanbul_csv)

In [4]:
# add "city" column to each df 
paris_df["city"] = "paris"
bangkok_df["city"] = "bangkok"
newyork_df["city"] = "newyork"
london_df["city"] = "london"
hongkong_df["city"] = "hongkong"
singapore_df["city"] = "singapore"
istanbul_df["city"] = "istanbul"

In [5]:
# convert price to USD
 
# conversion rate (as of 2023-03-30)

    # London (pounds) 1 pound = 1.24 usd
    # Paris (euro) 1 euro = 1.09 usd
    # Istanbul (lira) 1 lira = 0.052 usd
    # Bangkok (thai baht) 1 thai baht = 0.029 usd
    # Hong Kong (hong kong dollar) 1 hong kong dollar = 0.13 usd
    # Singapore (singapore dollar) 1 singapore dollar = 0.75 usd

In [6]:
# add new york price to new column
newyork_df['price'] = newyork_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_47402/1535222753.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  newyork_df['price'] = newyork_df['price'].str.replace(',', '').str.replace('$', '')

In [7]:
newyork_df['price'] = pd.to_numeric(newyork_df['price'])

In [8]:
newyork_df['USD_price'] = newyork_df['price']

In [9]:
# convert paris
paris_df['price'] = paris_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_47402/1399371155.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  paris_df['price'] = paris_df['price'].str.replace(',', '').str.replace('$', '')

In [10]:
paris_df['price'] = pd.to_numeric(paris_df['price'])

In [11]:
paris_df['USD_price'] = paris_df['price']*1.09

In [12]:
# convert london

In [13]:
london_df['price'] = london_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_47402/1519129439.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  london_df['price'] = london_df['price'].str.replace(',', '').str.replace('$', '')

In [14]:
london_df['price'] = pd.to_numeric(london_df['price'])

In [15]:
london_df['USD_price'] = london_df['price']*1.24

In [16]:
# convert instanbul

In [17]:
istanbul_df['price'] = istanbul_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_47402/1230161417.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  istanbul_df['price'] = istanbul_df['price'].str.replace(',', '').str.replace('$', '')

In [18]:
istanbul_df['price'] = pd.to_numeric(istanbul_df['price'])

In [19]:
istanbul_df['USD_price'] = istanbul_df['price']*0.052

In [20]:
# convert bangkok

In [21]:
bangkok_df['price'] = bangkok_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_47402/508247684.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  bangkok_df['price'] = bangkok_df['price'].str.replace(',', '').str.replace('$', '')

In [22]:
bangkok_df['price'] = pd.to_numeric(bangkok_df['price'])

In [23]:
bangkok_df['USD_price'] = bangkok_df['price']*0.029

In [24]:
# convert hong kong

In [25]:
hongkong_df['price'] = hongkong_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_47402/2212592989.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hongkong_df['price'] = hongkong_df['price'].str.replace(',', '').str.replace('$', '')

In [26]:
hongkong_df['price'] = pd.to_numeric(hongkong_df['price'])

In [27]:
hongkong_df['USD_price'] = hongkong_df['price']*0.13

In [28]:
# convert singapore

In [29]:
singapore_df['price'] = singapore_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_47402/3150728733.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  singapore_df['price'] = singapore_df['price'].str.replace(',', '').str.replace('$', '')

In [30]:
singapore_df['price'] = pd.to_numeric(singapore_df['price'])

In [31]:
singapore_df['USD_price'] = singapore_df['price']*0.75

In [32]:
# count number of rows in each df
paris_length = len(paris_df["id"])
bangkok_length = len(bangkok_df["id"])
newyork_length = len(newyork_df["id"])
london_length = len(london_df["id"])
hongkong_length = len(hongkong_df["id"])
singapore_length = len(singapore_df["id"])
istanbul_length = len(istanbul_df["id"])
print(f"paris length: {paris_length}")
print(f"bangkok length: {bangkok_length}")
print(f"newyork length: {newyork_length}")
print(f"london length: {london_length}")
print(f"hongkong length: {hongkong_length}")
print(f"singapore length: {singapore_length}")
print(f"istanbul length: {istanbul_length}")

paris length: 55104
bangkok length: 15854
newyork length: 41533
london length: 71938
hongkong length: 5194
singapore length: 3037
istanbul length: 36717

In [33]:
# find length of all dfs (make sure it matches merged_df)
combined_length = paris_length + bangkok_length + newyork_length + london_length + hongkong_length + singapore_length + istanbul_length
combined_length

229377

In [34]:
# display dataframe 
#paris_df.head()
#bangkok_df.head()
#newyork_df.head()
#london_df.head()
#hongkong_df.head()
#singapore_df.head()
#istanbul_df.head()

In [35]:
# look at headers
#paris_df.columns 
for x in paris_df.columns: 
    print(x)

id
listing_url
scrape_id
last_scraped
source
name
description
neighborhood_overview
picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
latitude
longitude
property_type
room_type
accommodates
bathrooms
bathrooms_text
bedrooms
beds
amenities
price
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
license
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month
city
USD_price

In [36]:
# merge into one df
merged_df = pd.concat([paris_df, bangkok_df, newyork_df, london_df, hongkong_df, singapore_df, istanbul_df])
merged_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city,USD_price
0,5396.0,https://www.airbnb.com/rooms/5396,20221200000000.0,12/11/22,city scrape,Explore the heart of old Paris,"Cozy, well-appointed and graciously designed s...","You are within walking distance to the Louvre,...",https://a0.muscache.com/pictures/52413/f9bf76f...,7903,...,4.55,7.5104E+12,f,1,1,0,0,1.98,paris,101.37
1,7397.0,https://www.airbnb.com/rooms/7397,20221200000000.0,12/11/22,city scrape,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !<br /...",NaN,https://a0.muscache.com/pictures/67928287/330b...,2626,...,4.72,7.5104E+12,f,2,2,0,0,2.26,paris,129.71
2,7964.0,https://www.airbnb.com/rooms/7964,20221200000000.0,12/11/22,previous scrape,Large & sunny flat with balcony !,Very large & nice apartment all for you! <br /...,NaN,https://a0.muscache.com/pictures/4471349/6fb3d...,22155,...,5.0,7.5109E+12,f,1,1,0,0,0.04,paris,141.70
3,9359.0,https://www.airbnb.com/rooms/9359,20221200000000.0,12/11/22,city scrape,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",Location! Location! Location! Just bring your ...,NaN,https://a0.muscache.com/pictures/c2965945-061f...,28422,...,NaN,"Available with a mobility lease only (""bail mo...",f,1,1,0,0,NaN,paris,81.75
4,81870.0,https://www.airbnb.com/rooms/81870,20221200000000.0,12/11/22,previous scrape,Saint Germain Musee d'orsay,<b>The space</b><br />This beautiful apartment...,NaN,https://a0.muscache.com/pictures/558458/3c1263...,152242,...,4.0,NaN,f,78,78,0,0,0.01,paris,158.05

In [37]:
merged_df["city"].value_counts()

london       71938
paris        55104
newyork      41533
istanbul     36717
bangkok      15854
hongkong      5194
singapore     3037
Name: city, dtype: int64

In [38]:
### IF merging csv files 
# list all csv files only
#csv_files = glob.glob('*.{}'.format('csv'))
#csv_files
# merge files 
#merged_df = pd.concat([pd.read_csv(x) for x in csv_files ], ignore_index=True)
#merged_df.head()

In [39]:
# count number of rows to make sure all merged
merged_length = len(merged_df["id"]) 
merged_length

229377

In [40]:
# look at columns 
for x in merged_df.columns: 
    print(x)

id
listing_url
scrape_id
last_scraped
source
name
description
neighborhood_overview
picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
latitude
longitude
property_type
room_type
accommodates
bathrooms
bathrooms_text
bedrooms
beds
amenities
price
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
license
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month
city
USD_price

In [41]:
# delete columns not needed 
delete_columns_df = merged_df.drop(['scrape_id', 'last_scraped', 'source', 'host_id', 'host_url', 'host_location', 'host_about', 
                'host_response_time', 'host_acceptance_rate', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 
                'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 
                'neighbourhood_group_cleansed', 'neighbourhood', 'bathrooms', 'minimum_minimum_nights', 
                'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm',
                'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60',
                'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 
                'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_accuracy', 'license', 'instant_bookable', 'calculated_host_listings_count', 
               'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 
                'calculated_host_listings_count_shared_rooms', 'reviews_per_month', 'neighborhood_overview', 
                'minimum_nights', 'maximum_nights', 'price', 'host_listings_count', 'description', 'property_type'], axis=1)
delete_columns_df.head()

,id,listing_url,name,picture_url,host_name,host_since,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,...,beds,amenities,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,city,USD_price
0,5396.0,https://www.airbnb.com/rooms/5396,Explore the heart of old Paris,https://a0.muscache.com/pictures/52413/f9bf76f...,Borzou,2/14/09,100%,f,Hôtel-de-Ville,48.85247,...,1.0,"[""Cleaning products"", ""Oven"", ""Host greets you...",4.55,4.51,4.79,4.82,4.95,4.55,paris,101.37
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
2,7964.0,https://www.airbnb.com/rooms/7964,Large & sunny flat with balcony !,https://a0.muscache.com/pictures/4471349/6fb3d...,Anaïs,6/18/09,NaN,f,Opéra,48.87417,...,1.0,"[""Cleaning products"", ""Free washer \u2013 In u...",4.8,5.0,5.0,5.0,5.0,5.0,paris,141.70
3,9359.0,https://www.airbnb.com/rooms/9359,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",https://a0.muscache.com/pictures/c2965945-061f...,Bernadette,7/29/09,NaN,f,Louvre,48.86006,...,1.0,"[""Long term stays allowed"", ""Dedicated workspa...",NaN,NaN,NaN,NaN,NaN,NaN,paris,81.75
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.0,5.0,5.0,5.0,5.0,4.0,paris,158.05

In [42]:
delete_columns_df["city"].value_counts()

london       71938
paris        55104
newyork      41533
istanbul     36717
bangkok      15854
hongkong      5194
singapore     3037
Name: city, dtype: int64

In [43]:
# look at columns 
for x in delete_columns_df.columns: 
    print(x)

id
listing_url
name
picture_url
host_name
host_since
host_response_rate
host_is_superhost
neighbourhood_cleansed
latitude
longitude
room_type
accommodates
bathrooms_text
bedrooms
beds
amenities
review_scores_rating
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
city
USD_price

In [44]:
# remove any rows containing n/a
cleaned_df = delete_columns_df.dropna()
cleaned_df.head()

,id,listing_url,name,picture_url,host_name,host_since,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,...,beds,amenities,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,city,USD_price
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.0,5.0,5.0,5.0,5.0,4.0,paris,158.05
5,9952.0,https://www.airbnb.com/rooms/9952,Paris petit coin douillet,https://a0.muscache.com/pictures/ae822d16-74d2...,Elisabeth,8/24/09,100%,t,Popincourt,48.86373,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.91,4.86,4.98,4.84,4.88,4.91,paris,152.60
6,84820.0,https://www.airbnb.com/rooms/84820,Bird's nest in Montmartre: Sun/view all over P...,https://a0.muscache.com/pictures/581023/86105d...,Laure,3/26/11,100%,t,Buttes-Montmartre,48.88238,...,1.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.87,4.86,4.85,4.88,4.9,4.77,paris,90.47
10,86053.0,https://www.airbnb.com/rooms/86053,Charmful flat facing a gothic church,https://a0.muscache.com/pictures/1982057/f94cf...,Richard,11/23/10,100%,t,Louvre,48.86033,...,2.0,"[""Baking sheet"", ""Children\u2019s books and to...",4.87,4.76,4.95,4.95,4.99,4.86,paris,292.12

In [45]:
cleaned_df["city"].value_counts()

london       33803
paris        22174
newyork      19842
istanbul     19389
bangkok       8063
hongkong      1772
singapore     1230
Name: city, dtype: int64

In [46]:
# filter by room type
clean_df = cleaned_df.loc[cleaned_df["room_type"].isin(["Private room", "Entire home/apt"])]
clean_df.head()

,id,listing_url,name,picture_url,host_name,host_since,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,...,beds,amenities,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,city,USD_price
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.0,5.0,5.0,5.0,5.0,4.0,paris,158.05
5,9952.0,https://www.airbnb.com/rooms/9952,Paris petit coin douillet,https://a0.muscache.com/pictures/ae822d16-74d2...,Elisabeth,8/24/09,100%,t,Popincourt,48.86373,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.91,4.86,4.98,4.84,4.88,4.91,paris,152.60
6,84820.0,https://www.airbnb.com/rooms/84820,Bird's nest in Montmartre: Sun/view all over P...,https://a0.muscache.com/pictures/581023/86105d...,Laure,3/26/11,100%,t,Buttes-Montmartre,48.88238,...,1.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.87,4.86,4.85,4.88,4.9,4.77,paris,90.47
10,86053.0,https://www.airbnb.com/rooms/86053,Charmful flat facing a gothic church,https://a0.muscache.com/pictures/1982057/f94cf...,Richard,11/23/10,100%,t,Louvre,48.86033,...,2.0,"[""Baking sheet"", ""Children\u2019s books and to...",4.87,4.76,4.95,4.95,4.99,4.86,paris,292.12

In [47]:
clean_df["room_type"].value_counts()

Entire home/apt    71641
Private room       32374
Name: room_type, dtype: int64

In [48]:
clean_df["city"].value_counts()

london       33556
paris        21591
newyork      19501
istanbul     19016
bangkok       7611
hongkong      1611
singapore     1129
Name: city, dtype: int64

In [49]:
# rename columns 
clean_df.columns = ['Id', 'Listing_Url', 'Name', 'Picture_Url', 'Host_Name', 'Host_Since', 'Host_Response_Rate',
       'Superhost', 'Neighbourhood', 'Latitude', 'Longitude', 'Room_Type', 'Accommodates', 'Bathrooms', 'Bedrooms', 
        'Beds', 'Amenities', 'Review_Scores_Rating', 'Review_Scores_Cleanliness', 'Review_Scores_Checkin',
        'Review_Scores_Communication', 'Review_Scores_Location', 'Review_Scores_Value', 'City', 'Price(USD)']
clean_df.head()

,Id,Listing_Url,Name,Picture_Url,Host_Name,Host_Since,Host_Response_Rate,Superhost,Neighbourhood,Latitude,...,Beds,Amenities,Review_Scores_Rating,Review_Scores_Cleanliness,Review_Scores_Checkin,Review_Scores_Communication,Review_Scores_Location,Review_Scores_Value,City,Price(USD)
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.0,5.0,5.0,5.0,5.0,4.0,paris,158.05
5,9952.0,https://www.airbnb.com/rooms/9952,Paris petit coin douillet,https://a0.muscache.com/pictures/ae822d16-74d2...,Elisabeth,8/24/09,100%,t,Popincourt,48.86373,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.91,4.86,4.98,4.84,4.88,4.91,paris,152.60
6,84820.0,https://www.airbnb.com/rooms/84820,Bird's nest in Montmartre: Sun/view all over P...,https://a0.muscache.com/pictures/581023/86105d...,Laure,3/26/11,100%,t,Buttes-Montmartre,48.88238,...,1.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.87,4.86,4.85,4.88,4.9,4.77,paris,90.47
10,86053.0,https://www.airbnb.com/rooms/86053,Charmful flat facing a gothic church,https://a0.muscache.com/pictures/1982057/f94cf...,Richard,11/23/10,100%,t,Louvre,48.86033,...,2.0,"[""Baking sheet"", ""Children\u2019s books and to...",4.87,4.76,4.95,4.95,4.99,4.86,paris,292.12

In [50]:
# export cleaned_df (encoding because of french characters)
clean_df.to_csv("/Users/AttiasC16/Desktop/clean.csv", index=False, header=True, encoding='utf-8-sig')