In [91]:
# load necessary libraries
import pandas as pd
import pprint
import os
# import glob

In [92]:
# import csvs
paris_csv = "/Users/AttiasC16/Desktop/Paris.csv"
bangkok_csv = "/Users/AttiasC16/Desktop/Bangkok.csv"
newyork_csv = "/Users/AttiasC16/Desktop/NewYork.csv"
london_csv = "/Users/AttiasC16/Desktop/London.csv"
hongkong_csv = "/Users/AttiasC16/Desktop/HongKong.csv"
singapore_csv = "/Users/AttiasC16/Desktop/Singapore.csv"
instanbul_csv = "/Users/AttiasC16/Desktop/Instanbul.csv"

In [93]:
# read csv into pandas df
paris_df = pd.read_csv(paris_csv)
bangkok_df = pd.read_csv(bangkok_csv)
newyork_df = pd.read_csv(newyork_csv)
london_df = pd.read_csv(london_csv)
hongkong_df = pd.read_csv(hongkong_csv)
singapore_df = pd.read_csv(singapore_csv)
instanbul_df = pd.read_csv(instanbul_csv)

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_3210/3865770108.py:4: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  newyork_df = pd.read_csv(newyork_csv)

In [94]:
# add "city" column to each df 
paris_df["city"] = "paris"
bangkok_df["city"] = "bangkok"
newyork_df["city"] = "newyork"
london_df["city"] = "london"
hongkong_df["city"] = "hongkong"
singapore_df["city"] = "singapore"
instanbul_df["city"] = "instanbul"

In [ ]:
# convert price to USD
 
# conversion rate (as of 2023-03-30)

    # London (pounds) 1 pound = 1.24 usd
    # Paris (euro) 1 euro = 1.09 usd
    # Instanbul (lira) 1 lira = 0.052 usd
    # Bangkok (thai baht) 1 thai baht = 0.029 usd
    # Hong Kong (hong kong dollar) 1 hong kong dollar = 0.13 usd
    # Singapore (singapore dollar) 1 singapore dollar = 0.75 usd

In [163]:
# convert paris
paris_df['price'] = paris_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_3210/1399371155.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  paris_df['price'] = paris_df['price'].str.replace(',', '').str.replace('$', '')

In [164]:
paris_df['price'] = pd.to_numeric(paris_df['price'])

In [168]:
paris_df['USD_price'] = paris_df['price']*1.09

In [ ]:
# convert london

In [169]:
london_df['price'] = london_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_3210/1519129439.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  london_df['price'] = london_df['price'].str.replace(',', '').str.replace('$', '')

In [170]:
london_df['price'] = pd.to_numeric(london_df['price'])

In [171]:
london_df['USD_price'] = london_df['price']*1.24

In [ ]:
# convert instanbul

In [174]:
instanbul_df['price'] = instanbul_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_3210/942890720.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  instanbul_df['price'] = instanbul_df['price'].str.replace(',', '').str.replace('$', '')

In [175]:
instanbul_df['price'] = pd.to_numeric(instanbul_df['price'])

In [176]:
instanbul_df['USD_price'] = instanbul_df['price']*0.052

In [ ]:
# convert bangkok

In [177]:
bangkok_df['price'] = bangkok_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_3210/508247684.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  bangkok_df['price'] = bangkok_df['price'].str.replace(',', '').str.replace('$', '')

In [178]:
bangkok_df['price'] = pd.to_numeric(bangkok_df['price'])

In [179]:
bangkok_df['USD_price'] = bangkok_df['price']*0.029

In [ ]:
# convert hong kong

In [180]:
hongkong_df['price'] = hongkong_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_3210/2212592989.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hongkong_df['price'] = hongkong_df['price'].str.replace(',', '').str.replace('$', '')

In [181]:
hongkong_df['price'] = pd.to_numeric(hongkong_df['price'])

In [182]:
hongkong_df['USD_price'] = hongkong_df['price']*0.13

In [ ]:
# convert singapore

In [183]:
singapore_df['price'] = singapore_df['price'].str.replace(',', '').str.replace('$', '')

/var/folders/s8/06x09z5j12g_t79tbrhn448w0000gn/T/ipykernel_3210/3150728733.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  singapore_df['price'] = singapore_df['price'].str.replace(',', '').str.replace('$', '')

In [184]:
singapore_df['price'] = pd.to_numeric(singapore_df['price'])

In [185]:
singapore_df['USD_price'] = singapore_df['price']*0.75

In [186]:
# count number of rows in each df
paris_length = len(paris_df["id"])
bangkok_length = len(bangkok_df["id"])
newyork_length = len(newyork_df["id"])
london_length = len(london_df["id"])
hongkong_length = len(hongkong_df["id"])
singapore_length = len(singapore_df["id"])
instanbul_length = len(instanbul_df["id"])
print(f"paris length: {paris_length}")
print(f"bangkok length: {bangkok_length}")
print(f"newyork length: {newyork_length}")
print(f"london length: {london_length}")
print(f"hongkong length: {hongkong_length}")
print(f"singapore length: {singapore_length}")
print(f"instanbul length: {instanbul_length}")

paris length: 55104
bangkok length: 15854
newyork length: 41533
london length: 71938
hongkong length: 5194
singapore length: 3037
instanbul length: 36717

In [187]:
# find length of all dfs (make sure it matches merged_df)
combined_length = paris_length + bangkok_length + newyork_length + london_length + hongkong_length + singapore_length + instanbul_length
combined_length

229377

In [188]:
# display dataframe 
#paris_df.head()
#bangkok_df.head()
#newyork_df.head()
#london_df.head()
#hongkong_df.head()
#singapore_df.head()
#instanbul_df.head()

In [189]:
# look at headers
#paris_df.columns 
for x in paris_df.columns: 
    print(x)

id
listing_url
scrape_id
last_scraped
source
name
description
neighborhood_overview
picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
latitude
longitude
property_type
room_type
accommodates
bathrooms
bathrooms_text
bedrooms
beds
amenities
price
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
license
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month
city
USD_price

In [190]:
# merge into one df
merged_df = pd.concat([paris_df, bangkok_df, newyork_df, london_df, hongkong_df, singapore_df, instanbul_df])
merged_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city,USD_price
0,5396.0,https://www.airbnb.com/rooms/5396,2.022120e+13,12/11/22,city scrape,Explore the heart of old Paris,"Cozy, well-appointed and graciously designed s...","You are within walking distance to the Louvre,...",https://a0.muscache.com/pictures/52413/f9bf76f...,7903,...,4.55,7.5104E+12,f,1,1,0,0,1.98,paris,101.37
1,7397.0,https://www.airbnb.com/rooms/7397,2.022120e+13,12/11/22,city scrape,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !<br /...",NaN,https://a0.muscache.com/pictures/67928287/330b...,2626,...,4.72,7.5104E+12,f,2,2,0,0,2.26,paris,129.71
2,7964.0,https://www.airbnb.com/rooms/7964,2.022120e+13,12/11/22,previous scrape,Large & sunny flat with balcony !,Very large & nice apartment all for you! <br /...,NaN,https://a0.muscache.com/pictures/4471349/6fb3d...,22155,...,5.00,7.5109E+12,f,1,1,0,0,0.04,paris,141.70
3,9359.0,https://www.airbnb.com/rooms/9359,2.022120e+13,12/11/22,city scrape,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",Location! Location! Location! Just bring your ...,NaN,https://a0.muscache.com/pictures/c2965945-061f...,28422,...,NaN,"Available with a mobility lease only (""bail mo...",f,1,1,0,0,NaN,paris,81.75
4,81870.0,https://www.airbnb.com/rooms/81870,2.022120e+13,12/11/22,previous scrape,Saint Germain Musee d'orsay,<b>The space</b><br />This beautiful apartment...,NaN,https://a0.muscache.com/pictures/558458/3c1263...,152242,...,4.00,NaN,f,78,78,0,0,0.01,paris,158.05

In [191]:
### IF merging csv files 
# list all csv files only
#csv_files = glob.glob('*.{}'.format('csv'))
#csv_files
# merge files 
#merged_df = pd.concat([pd.read_csv(x) for x in csv_files ], ignore_index=True)
#merged_df.head()

In [192]:
# count number of rows to make sure all merged
merged_length = len(merged_df["id"]) 
merged_length

229377

In [193]:
# look at columns 
for x in merged_df.columns: 
    print(x)

id
listing_url
scrape_id
last_scraped
source
name
description
neighborhood_overview
picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
latitude
longitude
property_type
room_type
accommodates
bathrooms
bathrooms_text
bedrooms
beds
amenities
price
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
license
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month
city
USD_price

In [206]:
# delete columns not needed 
delete_columns_df = merged_df.drop(['scrape_id', 'last_scraped', 'source', 'host_id', 'host_url', 'host_location', 'host_about', 
                'host_response_time', 'host_acceptance_rate', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 
                'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 
                'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'bathrooms', 'minimum_minimum_nights', 
                'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm',
                'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60',
                'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 
                'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_accuracy', 'review_scores_checkin', 
                'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 
               'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 
                'calculated_host_listings_count_shared_rooms', 'reviews_per_month', 'neighborhood_overview', 
                'minimum_nights', 'maximum_nights', 'price', 'host_listings_count'], axis=1)
delete_columns_df.head()

,id,listing_url,name,description,picture_url,host_name,host_since,host_response_rate,host_is_superhost,neighbourhood,...,accommodates,bathrooms_text,bedrooms,beds,amenities,review_scores_rating,review_scores_cleanliness,review_scores_communication,city,USD_price
0,5396.0,https://www.airbnb.com/rooms/5396,Explore the heart of old Paris,"Cozy, well-appointed and graciously designed s...",https://a0.muscache.com/pictures/52413/f9bf76f...,Borzou,2/14/09,100%,f,"Paris, Ile-de-France, France",...,2,1 bath,NaN,1.0,"[""Cleaning products"", ""Oven"", ""Host greets you...",4.55,4.51,4.82,paris,101.37
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !<br /...",https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,NaN,...,4,1 bath,2.0,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.88,paris,129.71
2,7964.0,https://www.airbnb.com/rooms/7964,Large & sunny flat with balcony !,Very large & nice apartment all for you! <br /...,https://a0.muscache.com/pictures/4471349/6fb3d...,Anaïs,6/18/09,NaN,f,NaN,...,2,1 bath,1.0,1.0,"[""Cleaning products"", ""Free washer \u2013 In u...",4.80,5.00,5.00,paris,141.70
3,9359.0,https://www.airbnb.com/rooms/9359,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",Location! Location! Location! Just bring your ...,https://a0.muscache.com/pictures/c2965945-061f...,Bernadette,7/29/09,NaN,f,NaN,...,1,1 bath,1.0,1.0,"[""Long term stays allowed"", ""Dedicated workspa...",NaN,NaN,NaN,paris,81.75
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,<b>The space</b><br />This beautiful apartment...,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,NaN,...,2,1 bath,1.0,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.00,5.00,5.00,paris,158.05

In [207]:
# look at columns 
for x in delete_columns_df.columns: 
    print(x)

id
listing_url
name
description
picture_url
host_name
host_since
host_response_rate
host_is_superhost
neighbourhood
latitude
longitude
property_type
room_type
accommodates
bathrooms_text
bedrooms
beds
amenities
review_scores_rating
review_scores_cleanliness
review_scores_communication
city
USD_price

In [202]:
# remove any rows containing n/a
cleaned_df = delete_columns_df.dropna()
cleaned_df.head()

,id,listing_url,name,description,picture_url,host_name,host_since,host_response_rate,host_is_superhost,host_listings_count,...,accommodates,bathrooms_text,bedrooms,beds,amenities,review_scores_rating,review_scores_cleanliness,review_scores_communication,city,USD_price
5,9952.0,https://www.airbnb.com/rooms/9952,Paris petit coin douillet,"Je suis une dame retraitée, qui propose un agr...",https://a0.muscache.com/pictures/ae822d16-74d2...,Elisabeth,8/24/09,100%,t,1.0,...,2,1 bath,1.0,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.91,4.86,4.84,paris,152.60
6,84820.0,https://www.airbnb.com/rooms/84820,Bird's nest in Montmartre: Sun/view all over P...,"Apartment, two rooms, very calm and sunny.<br ...",https://a0.muscache.com/pictures/581023/86105d...,Laure,3/26/11,100%,t,1.0,...,3,1.5 baths,1.0,1.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.87,4.86,4.88,paris,90.47
10,86053.0,https://www.airbnb.com/rooms/86053,Charmful flat facing a gothic church,Amazing apartment totally renovated facing one...,https://a0.muscache.com/pictures/1982057/f94cf...,Richard,11/23/10,100%,t,1.0,...,4,1 bath,1.0,2.0,"[""Baking sheet"", ""Children\u2019s books and to...",4.87,4.76,4.95,paris,292.12
23,11798.0,https://www.airbnb.com/rooms/11798,Loft very charming in Paris,Mon appartement est situé dans une très jolie ...,https://a0.muscache.com/pictures/22458692/09eb...,Laurence,10/8/09,100%,f,1.0,...,2,1 bath,1.0,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.85,4.82,4.95,paris,141.70
25,94270.0,https://www.airbnb.com/rooms/94270,Artist's atelier in Montparnasse,Charming artist's atelier turned into a spacio...,https://a0.muscache.com/pictures/3155777/980bb...,Guglielmo,11/1/10,100%,t,34.0,...,4,1 bath,2.0,3.0,"[""Ethernet connection"", ""Oven"", ""Host greets y...",4.74,4.71,4.93,paris,162.41

In [205]:
# export cleaned_df 
# cleaned_df.to_csv("/Users/AttiasC16/Desktop/cleaned.csv", index=False, header=True)

In [203]:
# count how many rows left after dropna
len(cleaned_df["id"])

50227

In [204]:
# count how many listings each city has
cleaned_df["city"].value_counts()

london       20943
paris        13435
instanbul     8972
bangkok       5065
hongkong       916
singapore      896
Name: city, dtype: int64