In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from pathlib import Path
import sqlite3

In [17]:
# make db if it doesn't exist
Path('./data/group5.db').touch()

In [18]:
# connect to db
conn = sqlite3.connect('./data/group5.db')

In [19]:
# load the csv
base_df = pd.read_csv('./data/clean.csv')

In [20]:
# write csv to db. if_exists will just drop the table if it already exists
base_df.to_sql(name='main',con=conn,if_exists='replace',index=False)

104015

In [ ]:
'./web_files/templates/index.html'

In [21]:
# reload the db as a df to verify it works as intended
p2 = pd.read_sql('select * from main', conn)
p2.head()

,Id,Listing_Url,Name,Picture_Url,Host_Name,Host_Since,Host_Response_Rate,Superhost,Neighbourhood,Latitude,...,Beds,Amenities,Review_Scores_Rating,Review_Scores_Cleanliness,Review_Scores_Checkin,Review_Scores_Communication,Review_Scores_Location,Review_Scores_Value,City,Price(USD)
0,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
1,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.00,5.00,5.00,5.00,5.00,4.00,paris,158.05
2,9952.0,https://www.airbnb.com/rooms/9952,Paris petit coin douillet,https://a0.muscache.com/pictures/ae822d16-74d2...,Elisabeth,8/24/09,100%,t,Popincourt,48.86373,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.91,4.86,4.98,4.84,4.88,4.91,paris,152.60
3,84820.0,https://www.airbnb.com/rooms/84820,Bird's nest in Montmartre: Sun/view all over P...,https://a0.muscache.com/pictures/581023/86105d...,Laure,3/26/11,100%,t,Buttes-Montmartre,48.88238,...,1.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.87,4.86,4.85,4.88,4.90,4.77,paris,90.47
4,86053.0,https://www.airbnb.com/rooms/86053,Charmful flat facing a gothic church,https://a0.muscache.com/pictures/1982057/f94cf...,Richard,11/23/10,100%,t,Louvre,48.86033,...,2.0,"[""Baking sheet"", ""Children\u2019s books and to...",4.87,4.76,4.95,4.95,4.99,4.86,paris,292.12